$main-color: rgb(63,81,181);
$border: 1px solid #e0e0e0;

.messageArea {
    display: none;
}

.inline{
    display: inline-block;
}

.text_center {
    text-align: center;
}
.central_input {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    border-top: $border;
    outline: none;
    padding: 14px;
    font-size: 14px;
}

.central_input:focus {
    border-color: $main-color;
}

#messages {
    height: calc(100% - 108px);
    padding: 14px;
}

.pos_absolute {
    position: absolute;
}


.mdl-button--icon:hover {
    cursor: pointer;
  }

  .event {
    background-color: $main-color;
  }

  #addroom {
    display: none;
    border: $border;
    position: absolute;
    top: 64px;
    background: #fff;
    z-index: 5;
    right:0;
    text-align: center;
  }

  #addRoom form {
    padding: 25px;
  }

  #userError, #roomError, #roomPassError, #passError {
    color: red;
  }

  .userFormDiv {
    margin: 0 auto;
    color: $main-color;
  }

  .current_room {
    color: $main-color;
    text-decoration: underline;
  }

  .roomDisplay {
    position: absolute;
    width: calc(100% - 240px);
    text-align: center;
  }

  .current_roomHolder {
    border-bottom: $border;
    width: 100%;
  }

  .username_msg {
    color: $main-color;
    text-decoration: underline;
    display: block;
  }

  .current_roomHolder a {
    color:red;
  }

  .msg {
    border: $border;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    max-width: 35%;
    margin: 10px;
  }

  .msg_cont {
    width: 100%;
  }

  .mdl-layout__content{
    width: calc(100% - 240px);
  }

  .notification {
    background: #b3d4fc;
  }

  .personal_msg {
    float: right;
  }

  #userForm{
    background: #fff;
    padding: 25px;
    width: max-content;
    margin: 0 auto;
  }

  h4 {
    width: 60%;
    margin: 0 auto;
  }
// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
    // Possible values for $pseudo are: before, after, both
    @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
      position: relative;
      z-index: 1;
      $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');
  
      #{$selector} {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
        backface-visibility: hidden;
      }
  
      @if $pseudo == 'before' {
        #{$selector} {
          top: 0;
  
          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }
      }
  
      @if $pseudo == 'after' {
        #{$selector} {
          bottom: 0;
  
          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 100%;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }
  
      @if $pseudo == 'both' {
        &:before {
          top: 0;
  
          @if $flip {
            transform: skewY($angle * -1);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle);
            transform-origin: 100% 0;
          }
        }
  
        &:after {
          bottom: 0;
  
          @if $flip {
            transform: skewY($angle);
            transform-origin: 0 0;
          } @else {
            transform: skewY($angle * -1);
            transform-origin: 100%;
          }
        }
      }
    }
  }
  
  // slanted edges here
  .edge--bottom {
    @include angle(after);
  }
  
  .edge--bottom--reverse {
    @include angle(after, true);
  }
  
  .edge--top {
    @include angle(before);
  }
  
  .edge--top--reverse {
    @include angle(before, true);
  }
  
  .edge--both {
    @include angle(both);
  }
  
  .edge--both--reverse {
    @include angle(both, true);
  }
  
  .-berry {
    background: #b52b4a;
  }
  
  .-indigo {
    background: $main-color;
  }
  
  .-orange {
    background: #de6628;
  }
  
  .-green {
    background: #5e9b42;
  }
  
  // demo code below
  .blocky {
    color: #fff;
    margin: 0 0 200px;
    padding: 15% 20px;
    text-align: center;
  }